body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container, .login-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    width: 400px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #444;
    padding: 15px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #555;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}
